<h1>Group Show</h1>

<p>
    <strong>Name:</strong>
    <%= @group.name %>
</p>

<p>
    <strong>Members:</strong>
    <%= @group.members %>
</p>

<p>
    <strong>Members Gender:</strong>
    <%= @group.membersgender %>
</p>

<p>
    <strong>Concerts this month:</strong>
    <%= @group.concerts_this_month %>
</p>

<p>
    <strong>Last concert:</strong>
    <%= @group.last_concert %>
</p>

<p>
    <strong>Max number of participants in concert:</strong>
    <%= @group.max_participants_in_concert %>
</p>

<p>
    <strong>Max concert duration:</strong>
    <%= @group.max_concert_duration %>
</p>



<%= link_to 'Edit', edit_group_path(@group) %>
<%= link_to 'Back', groups_path %>